* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  flex-grow: 0;
  flex-shrink: 0;
}

.screen {
  height: 100vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #010101,
    #020202,
    #030303,
    #040404,
    #070707,
    #0b0b0b,
    #0e0e0e,
    #131313,
    #171717,
    #1b1b1b,
    #1f1f1f
  );
}

/* container */
.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

main {
  padding: 20px;
}

/* regole flex */
.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.just_start {
  justify-content: flex-start;
}

.just_cen {
  justify-content: center;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

/* common rules */
li {
  list-style-type: none;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

.hidden {
  display: none;
}

/* nav */
nav {
    width: 100%;
  background-color: #000000;
  padding: 10px 20px;
}

.logo {
  margin-right: 15px;
}

.logo img {
  width: 90px;
}

.nav_menu {
  height: 80px;
  flex-grow: 1;
  /* width: 100%; */
}

.nav_menu ul li {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

li.search {
  font-size: 25px;
}

li input {
  height: 40px;
  width: 250px;
  padding-left: 5px;
  border-radius: 3px;
}

button.start {
  height: 40px;
  width: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  border: solid 2px #f40612;
  border-radius: 50%;
}

/* sections */
section {
  /* margin-top: 10px; */
  padding: 5px;
  /* background-color: ruby; */
}

/* card */
.card_container {
  margin: 10px;
  /* padding: 10px; */
  /* background-color: darkred; */
  min-width: 0;
  overflow-x: auto;
}

.card {
  position: relative;
  /* min-height: 0; */
  width: 185px;
  margin: 0 3px;
  /* background-color: #3f3f3f; */
  /* border: solid 1px #d3fbd8; */
}

.card .description {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow: auto;
  display: none;
}

.card:hover .description {
    display: block;
}

.card img {
  margin: auto;
}

.description h3 {
  margin-top: 10px;
}

.description p {
  margin-top: 5px;
  font-size: 14px;
}

.description p:last-child {
    font-size: 10px;
}

.features {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: black;
    z-index: 999;
}
